# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.db

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Media and static files
media/
staticfiles/

# Virtual environment
venv/
.env/
.venv/
env/
ENV/
*.env

# macOS specific files
.DS_Store

# Ignore secrets and configuration files
.env
*.env
config/settings_local.py

# Ignore .pkl files (Pickle files for serialized models)
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific (Optional)
.vscode/
.idea/

# Ignore coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Ignore pytest
.cache

# Ignore mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore build and distribution directories
build/
dist/
*.egg-info/
*.manifest
MANIFEST

# Ignore temporary files
*.swp
*.swo
